@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-primary: var(--font-jetbrains-mono);
  --color-primary-bg: #1c1c22;
  --color-text-white: #ffffff;
  --color-accent-deafult: #00ff99;
  --color-accent-hover:#00e187

  --screens-sm: 640px;
  --screens-md: 768px;
  --screens-lg: 960px;
  --screens-xl: 1200px;

  --spacing-12: 3rem;
}

@layer base {
  body {
    @apply font-primary bg-primary-bg text-white leading-loose;
  }
}