@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-primary: var(--font-jetbrains-mono);
  --color-primary-color: #1c1c22;
  --color-text-white: #ffffff;
  --color-accent-deafult: #00ff99;
  --color-accent-hover:#00e187;

  --screens-sm: 640px;
  --screens-md: 768px;
  --screens-lg: 960px;
  --screens-xl: 1200px;

  --spacing-12: 3rem;
}

@layer base {
  body {
    @apply font-primary bg-primary-color text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
   .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
   .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}